<title>{{ seoData['title'] }}</title>
<meta name="description" content="{{ seoData['description'] }}">
<meta name="Keywords" content="{{ seoData['keywords'] }}">
<meta name="author" content="lab.rtve.es">
<meta property="og:title" content="{{ seoData['title'] }}">
<meta property="og:description" content="{{ seoData['description'] }}">
<meta property="og:url" content='http://lab.rtve.es{{ base_url }}{{ url }}'>
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@rtve">
<meta name="twitter:creator" content="@lab_rtvees">
<meta name="twitter:title" content="{{ seoData['title'] }}">
<meta name="twitter:description" content="{{ seoData['description'] }}">
<meta property="og:image" content="http://lab.rtve.es{{ base_url }}img/seo/{{ seoData['seoImg'] }}.jpg">
<meta name="twitter:image" content="http://lab.rtve.es{{ base_url }}img/seo/{{ seoData['seoImg'] }}.jpg">